<h1><%= @chef.name %></h1>

<h3>Most Popular Ingredients</h3>
<ol>
<% @chef.three_most_popular_ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>
</ol>
<%= link_to 'Chefs Ingredients', chef_ingredients_path(@chef.id) %>
